<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row" style="margin-top: 30px;">
      <div class="col-md-6 offset-md-3">
        <mat-card>
          <div class="container text-center">
            <img src="../../../assets/logo_room (1).png" alt="" />
          </div>
          <h1 class="text-center">Check the rooms</h1>
          <form (ngSubmit)="checkAvailability()" #checkForm="ngForm">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Stay Start Date</mat-label>
              <input matInput [matDatepicker]="startDatePicker" placeholder="Enter the check-in date"
                     [min]="minDate" [(ngModel)]="stayStartDate" name="stayStartDate" required>
              <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #startDatePicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Stay End Date</mat-label>
              <input matInput [matDatepicker]="endDatePicker" placeholder="Enter the check-out date"
                     [min]="minDate" [(ngModel)]="stayEndDate" name="stayEndDate" required>
              <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #endDatePicker></mat-datepicker>
            </mat-form-field>
            <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
            <div class="container text-center">
              <button mat-raised-button color="primary" type="submit" [disabled]="checkForm.invalid">Check</button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
