<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top :30px;">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                    <div class="container text-center">
                        <img src="../../../assets/logo_room (1).png" alt="" />
                    </div>
                    <h1 class="text-center">Register Here !!</h1>
                    <form (ngSubmit)="formSubmit()" #signupForm="ngForm">
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>Email</mat-label>
                            <input
                            required
                            [(ngModel)]="registerUserDto.email"
                            name="email"
                            matInput placeholder="Enter the mail">  
                        </mat-form-field>
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>Password</mat-label>
                            <input 
                            required
                            [(ngModel)]="registerUserDto.password"
                            name="password"
                            type="password" matInput placeholder="Enter the password"
                            pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[\W_]).{8,}$"
                            #password="ngModel"/>
                            <mat-error *ngIf="password.invalid && password.touched">
                                <span *ngIf="password.errors?.required">Password is required</span>
                                <span *ngIf="password.errors?.pattern">
                                  Password must be at least 8 characters long, contain at least one uppercase letter, one lowercase letter, one number, and one special character
                                </span>
                              </mat-error>
                        </mat-form-field>
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>Full Name</mat-label>
                            <input 
                            required
                            [(ngModel)]="registerUserDto.fullName"
                            name="fullName"
                            matInput placeholder="Enter the full name">
                        </mat-form-field>
                        <div class="container text-center">
                            <button type="submit" mat-raised-button color="primary" [disabled]="signupForm.invalid">Register</button>
                        </div>
                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>