<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top :30px;">
            <div class="col-md-6 offset-md-3" >
                <mat-card>
                    <div class="container text-center">
                        <img src="../../../assets/logo_room (1).png" alt="" />
                    </div>
                    <h1 class="text-center">Login Here !!</h1>
                    <form (ngSubmit)="formSubmit()">
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>Email</mat-label>
                            <input
                            [(ngModel)]="loginUserDto.email"
                            name="email"
                            required
                            matInput placeholder="Enter the mail">
                        </mat-form-field>
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>Password</mat-label>
                            <input
                            [(ngModel)]="loginUserDto.password"
                            name="password"
                            type="password"
                            required
                            matInput placeholder="Enter the mail">
                        </mat-form-field>
                        <div class="container text-center">
                            <button mat-raised-button color="primary" type="submit">Login</button>
                        </div>
                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>