<div class="bootstrap-wrapper">
    <div class="container">
      <div class="row" style="margin-top: 30px;">
        <div class="col-md-8 offset-md-2">
          <mat-card>
            <div class="container text-center">
              <img src="../../../assets/logo_room (1).png" alt="Logo" />
            </div>
            <h1 class="text-center" style="font-size: 2em;">Booking Confirmation</h1>
            <div class="text-center">
                <h2>Room Number: {{ roomNumber }}</h2>
                <h2>Customer Name : {{ customerName }}</h2>
                <h2>Stay Start Date: {{ stayStartDate }}</h2>
                <h2>Stay End Date: {{ stayEndDate }}</h2>
                <button mat-raised-button color="primary" (click)="bookAnotherRoom()">Book Another Room</button>
            </div>
           </mat-card>
        </div>
      </div>
    </div>
</div>
  