<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top :30px;">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                    <div class="container text-center">
                        <img src="../../../assets/logo_room (1).png" alt="" />
                    </div>
                    <h1 class="text-center">Fill the Room details !!</h1>
                    <form (ngSubmit)="formSubmit()" #roomForm="ngForm">
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>Room Number</mat-label>
                            <input
                            required
                            [(ngModel)]="room.roomNumber"
                            name="roomNumber"
                            matInput placeholder="Enter the Room number">
                        </mat-form-field>

                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>Price</mat-label>
                            <input 
                            required
                            [(ngModel)]="room.price"
                            name="price"
                            matInput placeholder="Enter the price">
                        </mat-form-field>
                        
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>Type</mat-label>
                            <input 
                            required
                            [(ngModel)]="room.type"
                            name="type"                              
                            matInput placeholder="Enter the type">
                        </mat-form-field>
                        

                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>Description</mat-label>
                            <input 
                            required
                            [(ngModel)]="room.description"
                            name="description"
                            matInput placeholder="Enter the description">
                        </mat-form-field>

                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>Photo URL</mat-label>
                            <input 
                            required
                            [(ngModel)]="room.photoUrl"
                            name="photoUrl"
                            matInput placeholder="Enter the photo url">
                        </mat-form-field>
                        <div class="container text-center">
                            <button type="submit" mat-raised-button color="primary" [disabled]="roomForm.invalid">Submit</button>
                        </div>
                    </form>
                    <div class="container text-center">
                        <button mat-raised-button color="primary" style="margin-top: 10px;">View List of Rooms</button>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>