<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top :30px;">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                    <div class="container text-center">
                        <img src="../../../assets/logo_room (1).png" alt="" />
                    </div>
                    <h1 class="text-center">Fill the customer details !!</h1>
                    <form (ngSubmit)="formSubmit()"  #customerForm="ngForm">
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>First Name</mat-label>
                            <input
                            required
                            [(ngModel)]="customer.firstName"
                            name="firstName"
                            matInput placeholder="Enter the first name">
                        </mat-form-field>
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>Last Name</mat-label>
                            <input 
                            required
                            [(ngModel)]="customer.lastName"
                            name="lastName"
                            matInput placeholder="Enter the last name">
                        </mat-form-field>                       
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>Date of Birth</mat-label>
                            <input 
                            required
                            [(ngModel)]="customer.dateOfBirth"
                            name="dateOfBirth"
                            type="date"
                            matInput placeholder="Enter the dob">
                        </mat-form-field>
                        <div *ngIf="ageError" class="text-danger">
                            {{ ageError }}
                        </div>
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>Email</mat-label>
                            <input 
                            required
                            [(ngModel)]="customer.email"
                            name="email"
                            matInput placeholder="Enter the email">
                        </mat-form-field>
                        <div class="container text-center">
                            <button type="submit" mat-raised-button color="primary" [disabled]="customerForm.invalid">Submit</button>
                        </div>
                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>